* {
    padding: 0;
    margin: 0;
}

body {
    letter-spacing: 0.1em;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#f7f9f8, #dcf5dc,)
    center / cover;
    // ---------- 見出しデザイン ----------
    .heading {
        margin-top: 100px;
        margin-bottom: 50px;
        h2 {
            position: relative;
            padding: 0.3em 0.5em;
            background: -webkit-linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
            background: linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
            color: #495193;
            border-radius: 15px;
        }
    }

    // ---------- 見出しデザイン ここまで ----------

}

/*
------------------------------
メニュー機能のCSS
------------------------------
*/
/* ----- メニューボタン ----- */
#btn-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 60px;
    margin: 10px 10px 0 0;
    padding: 0 15px;
    color: #fff;
    background: gray;
    z-index: 100;
    transition: all 0.2s ease-in;
    position: fixed; // スクロールしても表示位置固定
}

/* MENUの上の白線3本のCSS */
#btn-menu span {
    display: block;
    width: 100%;
    height: 4px;
    background: #fff;
}

#btn-menu span:nth-of-type(1) {
    margin: 5px 0 0;
}

#btn-menu span:nth-of-type(2) {
    margin: 8px 0 0;
}

#btn-menu span:nth-of-type(3) {
    margin: 8px 0 0;
}
/* ----- メニューボタン ここまで ----- */

/* ----- メニュー ----- */
#sp-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    overflow: scroll;
    z-index: 1;
    transition: all 0.5s ease-in; /* メニューを0.5秒かけて表示(フェードイン) */
    opacity: 0;
}

.open-menu #sp-menu {
    visibility: visible;
    opacity: 1;
}

#sp-menu-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sp-menu-list {
    list-style: none;
}

.sp-menu-list a {
    font-size: 50px;
    font-weight: bold;
    color: black;
}
/* ----- メニュー ここまで ----- */
/*
------------------------------
メニュー機能のCSS ここまで
------------------------------
*/


.title {
    h1 {
        background-image: url(https://media.giphy.com/media/Jb90XJYZbZGvK/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 140px;
        text-align: left;
        margin: 0 auto;
        width: min-content;
        // ----- 文字を縁取りで表示 -----
        -webkit-text-stroke: 1px black;
        text-stroke: 1px black;
        // ----- 文字を縁取りで表示 ここまで -----
    }
    margin-top: 100px;
}

.about {
    .profile-contents {
        background-color: #ffffff;
    }
    .personal-info {
        margin-top: 30px;
    }
    .supported-language ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        padding-left: 0;
        flex-wrap: wrap;
        margin: 0;
        li {
            margin-right: 20px;
        }
    }
    .be-conscious p {
        margin-bottom: 30px;
    }
    .hearingsheet p {
        margin-bottom: 0;
    }
    .hearingsheet-item p {
        padding: 10px;
        border: solid 3px #000;
        margin-bottom: 30px;
    }
}

.skill {
    h3 {
        border-bottom: 3px double #000;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    .skill-title span {
        font-size: 24px;
    }
}

.service {
    span {
        font-weight: bold;
    }
    ul {
        padding: 0;
        list-style: none;
    }
    .ser-content {
        background: #ffffff;
        text-align: center;
        border-radius: 20px;
        margin: 30px 20px;
        padding: 50px 20px;
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        /* 最初は元の位置より左にずらしておく */
        opacity: 0;
        /* 最初は非表示にしておく */
        -webkit-transition: opacity 1s, -webkit-transform 0.5s;
        transition: opacity 1s, -webkit-transform 0.5s;
        transition: opacity 1s, transform 0.5s;
        transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
    }
    .fadein {
        opacity: 1;
        /* 表示させる */
        -webkit-transform: translateX(0);
        transform: translateX(0);
        /* 位置を最初の位置に戻す */
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
        /* フェードイン速度の調整 */
    }
}

.works {
    .notes {
        color: red;
    }

    #works-image {
        img {
            box-shadow: 15px 15px 20px #717271;
            margin-bottom: 30px;
        }
        // ----- 画像をスライドインで表示させる （jQueryで実装） -----
        .work-img {
            transform:translateX(-50px); /* 最初は元の位置より左にずらしておく */
            opacity:0;  /* 最初は非表示にしておく */
            transition:opacity 1s,transform 0.5s; /* 透明度と位置を設定 */
        }
        /* 条件を満たしたあとに追加するクラス */
        .fadein {
            opacity:1; /* 表示させる */
            transform:translateX(0); /* 位置を最初の位置に戻す */
            transition: 1.0s ease-in-out ; /* フェードイン速度の調整 */
        }
        // ----- 画像をスライドインで表示させる ここまで -----
    }
    .create-secretstory {
        h3 {
            color: #5d627b;
            background: white;
            border-top: solid 5px #5d627b;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            margin-top: 50px;
        }
    }
    .story-important {
        margin:2em 0;
        position: relative;
        padding: 0.5em 1.5em;
        border-top: solid 2px black;
        border-bottom: solid 2px black;
        p {
            font-weight: bold;
            color: orange;
        }
    }
    // ----- story-important要素を線で囲む -----
    .story-important:before, .story-important:after {
        content: '';
        position: absolute;
        top: -10px;
        width: 2px;
        height: -webkit-calc(100% + 20px);
        height: calc(100% + 20px);
        background-color: black;
    }
    .story-important:before {left: 10px;}
    .story-important:after {right: 10px;}
    .story-important p {
        margin: 0;
        padding: 0;
    }
    // ----- story-important要素を線で囲む ここまで -----

    .portfolio {
        .portfolio-text {
            border: 2px solid #000;
            margin: 150px 0 50px 0;
            h3 {
                margin: 5px;
            }
        }

        .portfolio-image img {
            width: 80%;
            height: auto;
            padding-bottom: 50px;
        }
    }
}

.contact {
    padding-bottom: 30px;
}


.inquiries, .inquiries-confirm, .send-completely {
    form {
        padding-top: 10px;
        max-width: 600px;
        margin: 0px auto;
    }

    .button {
        text-align: center;
    }
}

// タブレットのブレイクポイント設定
@media (max-width: 834px) {
    h1 {
        font-size: 100px!important;
    }
}

// スマホのブレイクポイント設定
@media (max-width: 430px) {
    h1 {
        font-size: 50px!important;
    }
    h2 span {
        font-size: 40px!important;
    }


    .about {
        .profile-contents {
            font-size: 16px!important;
        }
        .supported-language {
            p {
                font-size: 16px!important;
            }
        }
        .skill-contents, .be-conscious {
            p {
                font-size: 16px!important;
            }
        }
    }

    .service {
        .service-contents {
            p {
                font-size: 16px!important;
            }
        }
    }

    .works {
        .works-container {
            .image-trim {
                padding-bottom: 40px;
            }
            h5 {
                font-size: 20px!important;
            }
            p {
                font-size: 16px!important;
            }
        }
        .create-secretstory {
            h3 {
                margin: 0 0 20px 0;
            }
        }
        .story-content {
            span {
                color: red;
            }
        }
    }
}